<h1> All users </hi>
	
<%= will_paginate %>


<table class="users">
    <tr class="header">
        <td class="rank">Rank</td>
        <td class="name">Player</td>
        <td class="power_ranking">Power Ranking</td>
        <td class="w_l">Win-Loss</td>
    </tr>
	<%= render @users %>
</table>

<%= will_paginate %>
